* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.body {
  margin: 0;
  font-size: 1.6em;
  font-family: arial, sans-serif;
  background-color: #eee;
}

@media (min-width: 450px) {

  .body {
    font-size: 2em;
  }

}

@media (min-width: 900px) {

  .body {
    font-size: 2.5em;
  }

}

.wrapper {
  width: 90%;
  margin: auto;
  max-width: 1000px;
}

.text-center {
  text-align: center;
}

.header {
  border-bottom: 2px dashed #ddd;
}

.header .title {
  margin: 10px;
  font-size: 2.3em;
  text-align: center;
  font-family: Courgette, cursive;
}

.main-content {
  border-bottom: 2px solid #ddd;
}

.call-to-action {
  color: #777;
  font-size: 1.5em;
}

h1 {
  font-size: 1.3em;
}

h2 {
  font-size: 1.1em;
}

.product-list {
  padding: 30px 0 0;
  margin-bottom: 50px;
}

ul {
  list-style: none;
}

.product-list .products {
  padding-left: 0;
  margin: 0;
}

.shopping-cart .products {
  padding: 0;
}


.products li {
  float: left;
  width: 90%;
  margin-bottom: 30px;
  margin-left: 5%;
  border: 1px solid #555;
  background-color: #eee;
  position: relative;
  font-size: 1.6rem;
}

@media (min-width: 450px) {

  .products li {
    width: 45.5%;
    margin-right: 0;
    margin-left: 3%;
  }

}

@media (min-width: 750px) {

  .products li {
    width: 30%;
    margin-left: 2.5%;
  }

  .main-content > section {
    border: 1px solid #999;
  }

  .product-list {
    background-color: #fff;
  }

}

@media (min-width: 1000px) {

  .products li {
    width: 22.5%;
    margin-left: 2%;
  }

}

.products h3 {
  margin: 10px 0;
  padding: 0 15px;
}

.product-image {
  position: relative;
  width: 75%;
  margin: auto;
}

.product-image img {
  width: 100%;
}

.product-description {
  padding: 0 10px;
  margin: 15px 0 5px;
  height: 60px;
  font-size: 0.8em;
  color: #444;
  overflow: hidden;
}

.products::after {
  content: "";
  display: block;
  clear: both;
}

.button {
  display: inline-block;
  padding: 0 10px;
  border: 1px solid #555;
  height: 30px;
  line-height: 30px;
  box-shadow: 1px 1px 2px 0 #000;
  color: #fff;
}

.button-add,
.button-checkout,
.button-continue {
  background-color: #5cb85c;
}

.button-remove {
  background-color: #bc585c;
}

.button-promo {
  background-color: #337ab7;
}

.button:hover {
  cursor: pointer;
}

.button:active {
  box-shadow: 1px 1px 1px 0 #000 inset;
  padding-left: 12px;
  padding-top: 1px;
}

.button:active span {
  padding-left: 1px;
}

.button-add:hover,
.button-checkout:hover,
.button-continue:hover {
  background-color: #5cd85c;
}

.button-promo:hover {
  background-color: #438ac7;
}

.button-remove:hover {
  background-color: #dc585c;
}

.button-checkout {
  font-weight: bold;
}

.price-overlay {
  margin-top: 10px;
  padding: 10px 15px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
}

.price-overlay .price {
  line-height: 30px;
}

.price-overlay .add-to-cart,
.price-overlay .remove-from-cart {
  position: absolute;
  line-height: 30px;
  left: 10px;
  color: transparent;
  transition: color 0.8s;
}

.button-add,
.button-remove {
  width: 50px;
  overflow: hidden;
  position: absolute;
  right: 15px;
  transition: width 0.2s ease-in-out;
}

.button-add:hover,
.button-remove:hover {
  width: calc(100% - 30px);
}

.button-add:hover .add-to-cart,
.button-remove:hover .remove-from-cart {
  color: #fff;
}

.button .cart {
  width: 30px;
  vertical-align: middle;
  position: absolute;
  right: 8px;
}

.button:active .cart {
  right: 7px;
}

.shopping-cart {
  background-color: #fff;
  padding: 10px 10px 0;
  margin-bottom: 50px;
}

.shopping-cart h1,
.shopping-cart h2 {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #999;
}

hr {
  width: 100%;
  clear: both;
  border: 1px solid #999;
}

.cart-details > div {
  width: 100%;
  float: left;
}

@media (min-width: 750px) {

  .cart-details > div {
    /*width: 50%;*/
  }

}

.cart-details .button {
  width: 96%;
  margin-left: 2%;
  margin-right: 0;
  float: left;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 1.6rem;
}

.cart-details::after {
  content: "";
  display: block;
  clear: both;
}

@media (min-width: 550px) {

  .cart-details .button {
    width: 47%;
  }

}

#total-price {
  font-size: 2rem;
  margin-bottom: 0;
}

#total-price span {
  font-weight: bold;
}

.promo {
  float: left;
  margin-top: 18px;
  font-size: 2rem;
  margin-bottom: 30px;
}

.promo-code-list {
  font-size: 1.6rem;
  padding-left: 10px;
}

@media (min-width: 750px) {

  .promo-code-list {
    font-size: 2rem;
  }

  .cart-details .promo {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    float: none;
    text-align: center;
  }

  .cart-details .promo::after {
    content: '';
    display: block;
    clear: both;
  }

}

.promo label {
  padding-bottom: 15px;
}

.promo input {
  height: 40px;
  padding-left: 10px;
  margin-top: 11px;
  border-radius: 3px;
  border: 1px solid #999;
  width: 96%;
  margin-left: 2%;
  margin-right: 0;
  float: left;
}

@media (min-width: 550px) {

  .promo input {
    width: 47%;
  }

}

.selected-products-list {
  list-style: disc;
  font-size: 1.6rem;
}

.selected-products-table {
  font-size: 1.6rem;
  width: 100%;
  border-collapse: collapse;
  display: none;
}

@media (min-width: 550px) {

  .selected-products-list {
    display: none;
  }

  .selected-products-table {
    display: table;
  }

}

.selected-products-table th {
  text-align: left;
}

.selected-products-table th,
.selected-products-table td {
  border-bottom: 1px solid #ccc;
  padding: 5px 0 5px 50px;
}

.selected-products-table tr:last-child td {
  border-bottom: none;
}

.selected-products-table th {
  width: 25%;
}

.selected-products-table th:first-child,
.selected-products-table td:first-child {
  text-align: left;
  padding-left: 20px;
}

.button-promo {
  margin-top: 10px;
}

.button-checkout {
  float: right;
}

.shopping-controls {
  float: right;
  clear: right;
  width: 100%;
}

@media (min-width: 750px) {

  .shopping-controls {
    width: 60%;
    margin: auto;
    float: none;
  }

}

.shopping-controls div {
  margin: 9px 0;
}

.shopping-cart .product-description {
  display: none; /* Temporary, until I decide if I will keep or remove this content */
}

.quantity {
  text-align: center;
  padding-top: 10px;
}

#qty {
  display: inline-block;
  width: 40px;
  height: 25px;
  border-radius: 3px;
  border: 1px solid #999;
  text-align: center;
}

.footer p {
  color: #ccc;
  text-align: center;
  margin: 50px 0;
}
